<div>
  <div class="footer" id="footer" ng-controller="FooterController">
    <div class="container-fluid">
        <div class="row">
            <ul>
              <li><p class="loi">Alcohol abuse is dangerous for your health, consume with moderation<p></li>
                <br>
              <li><p class="loi">Copyright © In My Bear Team, 2017. All right reserved.<p></li>
            </ul>
            <ul class="social">
                <li><a href="https://github.com/WildCodeSchool/la-loupe-0217-in-my-bear" target="_blank"> <i class="fa fa-github"></i></a></li>
                <li><a href="https://www.facebook.com/bigbeerlovers/" target="_blank"> <i class=" fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/samjbmason" target="_blank"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/communities/103299867207875326585" target="_blank"> <i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://fr.pinterest.com/source/zooportraits.com" target="_blank"> <i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=jQrsGpFewWo" target="_blank"> <i class="fa fa-youtube"></i></a></li>
            </ul>
            <img class="pull-right builtWith" src='http://forthebadge.com/images/badges/built-with-love.svg'>
        </div>
    </div>
  </div>
</div>
