<div>
  <div class="footer" id="footer" ng-controller="FooterController">
    <div class="container-fluid">
        <div class="row">
            <ul>
              <li><p class="loi">L'abus d'alcool est dangereux pour la santé, consommez avec modération<p></li>
            </ul>
            <ul class="social">
                <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
            </ul>
        </div>
    </div>
  </div>

  <!-- <div class="footer-bottom">
      <div class="container">
          <p class="copyFooter"> Copyright © In My Bear 2017. All right reserved. </p>
          <div class="pull-right">
          </div>
      </div>
  </div> -->
</div>
