<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-5 col-lg-2 col-md-offset-4 col-md-2 col-sm-offset-4 col-sm-2 col-xs-offset-2 col-xs-6 profilPadding">
            <a href="" data-toggle="modal" data-target="#myModal"><img src="{{ user.avatar }}" alt="..."></a>
        </div>
        <!-- Modal -->
        <div class="modal fade modalHeight" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content profilModal">
                    <div class="modal-header profilModalText">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"><span>&times;</span></button>
                        <h4 class="modal-title profilText" id="myModalLabel">Avatar choice</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row modalImage">
                            <div class="col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-11 profilImage">
                                <a href="" ng-repeat="avatar in avatars"><img  class="avatarHeigth" src="{{avatar}}" ng-click="updateAvatar(avatar)"></a>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h4 class="text-center profilModalText profilText">For change avatar please click sure picture</h4>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="profilChange">
        <div class="col-lg-offset-2 col-lg-8">
            <h2 class="text-center profilText">Profil of {{user.name}}</h2>
            <h2 class="text-center profilText">Birthdate: {{user.bday | date : fullDate}}</h2>
            <div class="input-group profilInput">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" placeholder="Change email" aria-describedby="sizing-addon2">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="input-group profilInput">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="text" class="form-control" placeholder="Change password" aria-describedby="sizing-addon2">
            </div>
            <button type="submit" class="btn btn-warning btn-block profilBack">Validate the change</button>
        </div>
    </div>
</div>
